.footer {
	background-color: #000000; /* Consistent black background */
	color: #9b5de5; /* Primary purple color for text */
	text-align: center;
	padding: 1rem 0;
	position: absolute;
	width: 100%;
	bottom: 0;
  }
  