.navbar {
  background-color: #000000; /* Black background */
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: #9b5de5; /* Purple color for links */
  text-decoration: none;
  font-weight: bold;
  font-size:x-large
}

.navbar a:hover {
  color: #f3e1ff; /* Light Purple on hover */
  text-decoration: underline;
}
