/* MintNFT.module.css */
.mintNFT {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;  /* Dark background for contrast */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 100%;  /* Full width within its container */
  max-width: 600px;  /* Max width for better control */
  margin: 20px auto;  /* Centering the card */
}

.button {
  background-color: #9b5de5;  /* Primary theme purple */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: auto;  /* Auto width for content fitting */
  margin-top: 10px;  /* Spacing above the button */
}

.button:hover {
  background-color: #7a3eb5;  /* Darker purple on hover */
}

.input {
  width: 100%;  /* Full width to match the card */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #7a3eb5;  /* Border color */
  border-radius: 5px;
  background-color: #282828;  /* Slightly lighter background for the input */
  color: #fff;  /* Text color */
}
.image {
  max-width: 100%;  /* Ensures the image does not exceed the width of its container */
  max-height: 400px;  /* Restricts the height of the image */
  object-fit: contain;  /* Ensures the image maintains its aspect ratio without being cropped */
  margin-top: 20px;  /* Spacing above the image */
  border: #7a3eb5;
  border-radius: 5px;
}